// Colors
$primary-color: #FFE600;
$secondary-color: #3483FA;
$body-color: #EEEEEE;
$primary-text-color: #333333;
$secondary-text-color: #666666;
$light-text-color: #999999;
$white: #FFFFFF;
// Spacing
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-32: 2rem;
// Typography
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-46: 2.875rem;
$line-height-18: 1.625rem;
$line-height-24: 2rem;
// Others
$border-radius: 4px;
$dimension-40: 2.5rem;
$font-weight-bold: 700;
