@import '../../../../styles/_variables';

.header__main {
  background-color: $primary-color;
  padding: $spacing-12 0;
}

.content-header__main {
  display: flex;
  align-content: center;
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 578px) {
    width: 80%;
  }
}

.header__logo {
  margin-right: $spacing-16;
  @media screen and (min-width: 578px) {
    margin-right: $spacing-32;
  }
}
